{% extends "backend/base.html" %}
{% block content %}
{% load static %}
{% load i18n %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><i class="fas fa-user-edit"></i>&nbsp;&nbsp;Edit Profil {{ user.get_full_name }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'backend-home' %}">Beranda</a></li>
                        <li class="breadcrumb-item active">Edit Profil {{ user.get_full_name }}</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="containter-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% if messages %}
                    {% for message in messages|slice:":1" %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible" id="success-alert">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"
                            id='btn-close-alert'>&times;</button>
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                    src="{{ user.foto_profil.url }}" alt="User profile picture">
                            </div>

                            <h3 class="profile-username text-center">{{ user.get_full_name }}</h3>

                            <p class="text-muted text-center">{{ user.get_jabatan_kantor_display }}</p>

                             <!-- form start -->
                            <form class="form" method="POST" id="editProfil" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="inputFirstName">Nama Depan</label>
                                        <input type="text" class="form-control" id="inputFirstName" value="{{ user.first_name }}" name="first_name">
                                        {% for err in form.first_name.errors %}
                                        <small class="text-danger ml-2">{{ err }}</small><br>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <label for="inputLastName">Nama Belakang</label>
                                        <input type="text" class="form-control" id="inputLastName" value="{{ user.last_name }}" name="last_name">
                                        {% for err in form.last_name.errors %}
                                        <small class="text-danger ml-2">{{ err }}</small><br>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail">Email</label>
                                        <input type="email" class="form-control" id="inputEmail" value="{{ user.email }}" name="email">
                                        {% for err in form.email.errors %}
                                        <small class="text-danger ml-2">{{ err }}</small><br>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <label for="inputNomorHP">Nomor HP</label>
                                        <input type="text" class="form-control" id="inputNomorHP" value="{{ user.no_hp }}" name="no_hp">
                                        {% for err in form.no_hp.errors %}
                                        <small class="text-danger ml-2">{{ err }}</small><br>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <label for="inputFotoProfil">Foto Profil</label>
                                        <p>Saat ini : {{ user.foto_profil }}</p>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputFotoProfil" name="foto_profil">
                                                <label class="custom-file-label" for="inputFotoProfil">Pilih File</label>        
                                            </div>
                                        </div>
                                        {% for err in form.foto_profil.errors %}
                                        <small class="text-danger ml-2">{{ err }}</small><br>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary float-right">Perbarui</button>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </form>
                        </div>

                    </div>
                    <!-- /.card -->


                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div><!-- /.content-wrapper -->

{% endblock content %}
{% block scripts %}
{{ block.super }}
<!-- Select2 -->
<script src="{% static 'backend/plugins/select2/js/select2.full.min.js' %}"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="{% static 'backend/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
<!-- jquery-validation -->
<script src="{% static 'backend/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'backend/plugins/jquery-validation/additional-methods.min.js' %}"></script>
<!-- bs-custom-file-input -->
<script src="{% static 'backend/plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<!-- Page script -->
<script>
    $("#success-alert").delay(3000).slideUp(200, function () {
        $("#success-alert").slideUp(200);
    });

</script>
<script type="text/javascript">
    $(document).ready(function () {
        bsCustomFileInput.init();
        $('#editProfil').validate({
        rules: {
          email: {
            required: true,
            email: true,
          },
        },
        messages: {
          email: {
            required: "Wajib diisi",
            email: "Email tidak valid"
          },
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
          error.addClass('invalid-feedback');
          element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass('is-invalid');
        }
      });
    });
    </script>
{% endblock scripts %}