{% extends "backend/base.html" %}
{% block content %}
{% load static %}
{% load i18n %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><i class="fas fa-id-badge"></i>&nbsp;&nbsp;Profil {{ user.get_full_name }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'backend-home' %}">Beranda</a></li>
                        <li class="breadcrumb-item active">Profil {{ user.get_full_name }}</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="containter-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% if messages %}
                    {% for message in messages|slice:":1" %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible" id="success-alert">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"
                            id='btn-close-alert'>&times;</button>
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                    src="{{ user.foto_profil.url }}" alt="User profile picture">
                            </div>

                            <h3 class="profile-username text-center">{{ user.get_full_name }}</h3>

                            <p class="text-muted text-center">{{ user.get_jabatan_kantor_display }}</p>

                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Nama Pengguna</b><a class="float-right">{{ user.username }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Nama Lengkap</b><a class="float-right">{{ user.get_full_name }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Email</b><a class="float-right">{{ user.email }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Nomor HP</b> <a class="float-right">{{ user.no_hp }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>NIP</b> <a class="float-right">{{ user.nip }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>NIP Lama</b> <a class="float-right">{{ user.nip_lama }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Pangkat Golongan</b> <a class="float-right">{{ user.get_pangkat_golongan_display }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Jabatan</b> <a class="float-right">{{ user.get_jabatan_kantor_display }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Jabatan Fungsional</b> <a class="float-right">{{ user.get_jabatan_fungsional_display }}</a>
                                </li>
                            </ul>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->


                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div><!-- /.content-wrapper -->

{% endblock content %}
{% block scripts %}
{{ block.super }}
<script>
    $("#success-alert").delay(3000).slideUp(200, function () {
        $("#success-alert").slideUp(200);
    });

</script>
{% endblock scripts %}