{% extends "backend/base.html" %}
{% block content %}
{% load static %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><i class="fas fa-star"></i>&nbsp;&nbsp;Penilaian PIA Pegawai {% now "F Y" %}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'backend-home' %}">Beranda</a></li>
                        <li class="breadcrumb-item active">Daftar Penilaian PIA</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        {% if messages %}
        {% for message in messages|slice:":1" %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" id="success-alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"
                id='btn-close-alert'>&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Daftar Pegawai Yang Harus Dinilai</h3>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                No.
                            </th>
                            <th style="width: 20%">
                                Pegawai
                            </th>
                            <th>
                                Profesional
                            </th>
                            <th>
                                Integritas
                            </th>
                            <th>
                                Amanah
                            </th>
                            <th class="text-center">
                                Status
                            </th>
                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pia in pia_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ pia.pegawai_dinilai.get_full_name }}</td>
                            <td>
                                {% if pia.profesional %}
                                    {{ pia.profesional }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% if pia.integritas %}
                                    {{ pia.integritas }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% if pia.amanah %}
                                    {{ pia.amanah }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="project-state">
                                {% if pia.profesional and pia.integritas and pia.amanah %}
                                    <span class="badge badge-success">Lengkap</span>    
                                {% elif pia.profesional or pia.integritas or pia.amanah %}
                                    <span class="badge badge-warning">Belum Lengkap</span>
                                {% else %}
                                    <span class="badge badge-danger">Belum Dinilai</span>
                                {% endif %}
                            </td>
                            <td class="project-actions text-center">
                                <a class="btn btn-info btn-sm" href="{% url 'sipia-penilaianpia' pia.id %}">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Nilai
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </section>
    <!-- /.content -->

</div>
<!-- /.content-wrapper -->

{% endblock content %}
{% block scripts %}
{{ block.super }}
<script>
    $(function () {
        $("#tabel-daftarkegiatan").DataTable({
            "responsive": true,
            "autoWidth": false,
        });
    });

    $("#success-alert").delay(3000).slideUp(200, function () {
        $("#success-alert").slideUp(200);
    });

</script>
{% endblock scripts %}